/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 18, 2016, 10:58:41 AM
    Author     : Carlozfsa
*/
#main-footer {
	background: #333;
        width: 100%;
	color: white;
	text-align: center;
	padding-top: 10px;
	margin-top: 40px;
        position: static;
        /*height: 40px;*/
        bottom: 0;
}
	#main-footer p {
		margin: 20px;
	}
	
	/*#main-footer a {
		color: white;
	}*/